# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.gitignore
.idea/dataSources/f6957a75-97d9-4f8e-bb32-a0dd54cf336f/_src_/
.idea/dataSources/f6957a75-97d9-4f8e-bb32-a0dd54cf336f/_staging_/
.idea/vcs.xml
out/artifacts/GuestBook_war_exploded/META-INF/
out/artifacts/GuestBook_war_exploded/WEB-INF/classes/com/geekhub/listiner/
out/artifacts/GuestBook_war_exploded/WEB-INF/classes/com/geekhub/util/
out/artifacts/GuestBook_war_exploded/WEB-INF/lib/commons-dbcp-1.4.jar
out/artifacts/GuestBook_war_exploded/WEB-INF/lib/commons-pool-1.6.jar
out/production/GuestBook/com/geekhub/listiner/
